.header {
  height: 80px;
  width: 100%;
  background: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  height: 100%;
  width: 100%;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContent {
  height: 100%;
  width: 100%;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContent img {
  cursor: pointer;
}

.headerMenu {
  height: 100%;
  display: flex;
  align-items: center;
}

.headerMenu li {
  height: 100%;
  padding: 1rem;

  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

  border-bottom: 3px solid transparent;

  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);

  transition: border 0.2s ease-in;
}

.headerMenu li.active {
  border-bottom: 3px solid var(--green);
  color: var(--white);
}

.headerMenu li:hover {
  color: var(--white);
  border-bottom: 3px solid var(--green);
}

.toggleMenu {
  display: none;

  position: relative;
  width: 48px;
  height: 48px;

  background: transparent;
  border: none;

  cursor: pointer;

  transition: background 0.2s;
}

.toggleMenu:hover {
  background: var(--black);
}

.toggleMenu .toggleMenuItem {
  width: 28px;
  height: 2px;

  background: var(--green);

  transition: all 0.5s ease-in-out;
}

.toggleMenu .toggleMenuItem::before,
.toggleMenu .toggleMenuItem::after {
  content: "";
  position: absolute;

  width: 28px;
  height: 2px;

  background: var(--green);

  transition: all 0.5s ease-in-out;
}

.toggleMenu .toggleMenuItem::before {
  transform: translateY(-8px);
}

.toggleMenu .toggleMenuItem::after {
  transform: translateY(8px);
}

.toggleMenu.active .toggleMenuItem {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.toggleMenu.active .toggleMenuItem::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.toggleMenu.active .toggleMenuItem::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 768px) {
  .toggleMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    padding: 0 16px;
  }
  .header.open {
    height: 100vh;
  }
  .headerContainer.open {
    flex-direction: column;
    justify-content: start;
  }
  .headerContent.open {
    height: 80px;
  }
  .headerMenu {
    display: none;
  }
  .headerMenu.open {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .headerMenu li {
    width: 100%;
    height: 48px;
    border-bottom: none;
  }
  .headerMenu li.active {
    border-left: 3px solid var(--green);
    border-bottom: none;
    color: var(--white);
  }

  .headerMenu li:hover {
    color: var(--white);
    border-left: 3px solid var(--green);
    border-bottom: none;
  }
}
