* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;

  font-family: "Inter", sans-serif;

  background-color: $neutral-8;
  color: $color-white;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 53.25px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: auto;
}

h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: auto;
}

h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: auto;
}

h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: auto;
}

.body-bold {
  font-size: 28px;
  font-weight: 500;
  line-height: auto;
}

.body-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
}

.body-lead {
  font-size: 22px;
  font-weight: 400;
}

.body-p {
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
}

.body-tiny {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}

@keyframes pulse-bg-gray {
  0% { background-color: $neutral-6; }
  50% { background-color: $neutral-5; }
  100% { background-color: $neutral-6; }
}

@keyframes pulse-bg-gray-ligth {
  0% { background-color: $neutral-3; }
  50% { background-color: $neutral-1; }
  100% { background-color: $neutral-3; }
}

@keyframes pulse-bg-green {
  0% { background-color: $green-7; }
  50% { background-color: $green-5; }
  100% { background-color: $green-7; }
}

@keyframes pulse-bg-blue {
  0% { background-color: $blue-7; }
  50% { background-color: $blue-5; }
  100% { background-color: $blue-7; }
}
